body {
  background-color: #e5e5e5;
}
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.App {
  flex-grow: 1;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #0c6ded;
}

.d-flex {
  display: flex;
  align-items: center;
}
.p50 {
  padding: 50px;
}
.black {
  color: #000;
}
.error {
  text-align: center;
  color: red;
}
.textBig {
  font-size: 200%;
  font-weight: bold;
}
.paper {
  color: rgba(0, 0, 0, 0.54);
  width: 100%;
  padding: 24px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  background-color: #fff;
}
.hourlyGrid {
  overflow-x: scroll;
}

.hourlyReportWraperParent {
  width: max-content;
}
.hourlyReportWraper {
  float: left;
  border-right: 5px solid #27a2c8;
  padding: 16px;
  margin: 15px 0;
  border-radius: 15px;
}
.hourlyReportWraperParent h4 {
  width: fit-content;
}

.divider,
.dividerVertical {
  background-image: linear-gradient(to bottom right, #0c6ded, #7aecfc);
  border-radius: 15px;
}
.divider {
  width: 90%;
  height: 5px;
  margin: 15px auto 35px;
}
.dividerVertical {
  height: 90%;
  width: 5px;
  margin: 0 15px;
}
.fa-thermometer-quarter {
  color: rgb(255, 72, 0);
}
.footer {
  text-align: center;
  background-color: rgb(110, 110, 110);
  color: #fff;
  padding: 15px;
}
.footer a {
  color: #fff;
}
@media (max-width: 676px) {
  .p50 {
    padding: 15px !important;
  }
}

@media (max-width: 427px) {
  .p50 {
    padding: 10px !important;
  }
  .MuiGrid-item button {
    width: calc(100vw - 25px);
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}
